* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #ffffff;
  min-width: 600px;        /* Perfect for popup window */
  max-width: 100vw;
  margin: 0;
  overflow-x: hidden;
  padding: 0 1rem 1rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* form {
  width: 90%;
  max-width: 340px;
} */

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 3rem;
}

.container h1 {
  font-family: sans-serif;
  font-variant: small-caps;
  font-weight: 700;
  color: #ffffff;
  border-radius: 10px;
  background-color: #000000;
  width: 100%;
  font-size: 2rem;
  padding: .4rem 2rem;
  z-index: 5;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  background-color: #000000;
  border-radius: 20px;
  box-shadow: -2px 2px 100px rgb(0, 0, 0, 0.4);
  margin-top: 2rem;
  padding: 2rem 0;
  color: #ffffff;
}

.amount {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.amount p {
  font-size: 1.5rem;
  color: #ffffff;
  font-family: sans-serif;
}

.amount input {
  padding: 0.4rem 1rem;
  font-size: 1.5rem;
  color: #ffffff;
  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 10px;
  outline: none;
  transition: all .3s ease;
}

.amount input:hover {
  background-color: #ffffff;
  color: #000000;
}

.dropdown {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 4rem;
  margin: 1.5rem 0;
}

.from {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.select-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.select-container select {
  padding: 0.5rem 0.2rem;
  font-size: 1rem;
  font-weight: 500;
  font-family: sans-serif;
  background-color: rgb(230, 230, 230);
  outline: none;
}


.select-container img {
  width: 2rem;
  margin: 1rem 0;
}

.from p,
.to p {
  font-family: sans-serif;
  font-size: 1.5rem;
  color: #ffffff;
  font-weight: 600;
}

.msg {
  font-size: large;
  font-family: sans-serif;
  margin-bottom: 1rem;
}

button {
  padding: .6rem;
  border-radius: 10px;
  background-color: transparent;
  color: #ffffff;
  border: 2px solid #ffffff;
  cursor: pointer;
  transition: all .3s ease;
}

button:hover {
  background-color: #ffffff;
  color: #000000;
}

#swap {
  font-size: 22px;
  cursor: pointer;
  border: 2px solid #ffffff;
  background: transparent;
  width: 100%;
  padding: 8px 12px;
  border-radius: 8px;
  transition: all 0.2s ease;
}

#swap:hover {
  background: #ffffff;
  color: #000000;
}